
        <style type="text/css">
            #wait {
                color:blue;
                font-size: 15pt;
                height: 2em;
                margin-top: 25px;
                    }
                    
            a {
            margin-top: 25px;
            font-size: 15pt;
            height: 2em;
            color: red;
            }
        </style>
        
        <div id="wait">
        Risk Waiting Area <br />
        Please wait until 3 players have joined to start <br />
        a game! <br />
        </div>
        
        <a href="/maingame/index">Press to Start Game</a>
        
        <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="http://js.pusher.com/2.2/pusher.min.js"></script>
  <script type="text/javascript" charset="utf-8">
  var count = 0;
      $(function() {


        var pusher = new Pusher('249adada598842cd452d'); // Replace with your app key
        var channel = pusher.subscribe('test-channel');

        // Some useful debug msgs
        pusher.connection.bind('connecting', function() {
          $('div#status').text('Status: Connecting to Pusher...');
        });
        pusher.connection.bind('connected', function() {
          $('div#status').text('Status: Connected to Pusher!');
        });
        pusher.connection.bind('failed', function() {
          $('div#status').text('Status: Connection to Pusher failed :(');
        });
        channel.bind('subscription_error', function(status) {
          $('div#status').text('Status: Pusher subscription_error');
        });
	channel.bind('new_message', function(data) {
	  $('div#message').text('Message: From: ' + data.from + ', Subject: ' + data.subject);
	});
    channel.bind('binding', function(data) {
	  $('div#message').text('Message: From: ' + data.from + ', Subject: ' + data.subject);
	});
    channel.bind('newPlayer', function(data) {
	  alert("A new player has entered the game!");
	});
    
    channel.bind('count', function(data) {
            count++;
            if (count ==2)
            {
                $.get('wait/newgame', function(data){});                
            }
            $('div#message').text('Number of players: ' + (count+1));    	  
	});
    
    channel.bind('newgame', function(data) {
        alert("Press Start Game");
        pusher.unsubscribe(channel);
      });
      
      channel.bind('success', function(data) {
      alert("New channel made successfully!");
      });
              
      });
    </script>
    