
        <style type="text/css">
            .wait {
                color:blue;
                font-size: 15pt;
                height: 2em;
                margin-top: 25px;                }
            #players {
                color:green;
                font-size: 15pt;
                height: 2em;
                margin-top: 25px;
                }
        </style>
        
        <div class="wait">
        Risk Waiting Area <br />
        Please wait until 3 players have joined to start <br />
        a game! <br />
        </div>
        
        <div id="players">
        The nummber of players is: <br />
        </div>
         <p id="p1">This is before text</p>
        <div id="count"></div>
        <button id="binding">Bind</button>
        <button id="send">Send</button>