
        <style type="text/css">
            .wait {
                color:blue;
                font-size: 15pt;
                height: 2em;
                margin-top: 25px;                }
            #players {
                color:green;
                font-size: 15pt;
                height: 2em;
                margin-top: 25px;
                }
        </style>
        
        <div class="wait">
        Game Begin! <br />
        </div>
         <p id="p1">This is before text</p>
        <div id="count"></div>
        <button id="binding">Bind</button>
        <button id="send">Send</button>
        
        <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="http://js.pusher.com/2.2/pusher.min.js"></script>
  <script type="text/javascript" charset="utf-8">
  var count = 0;
      $(function() {
        // If your Heroku application is within the EU region,
        // uncomment the following lines
        // Pusher.host = 'ws-eu.pusher.com';
        // Pusher.sockjs_host = 'sockjs-eu.pusher.com';

        var pusher = new Pusher('249adada598842cd452d'); // Replace with your app key
        var channel = pusher.subscribe("presence-newChannel", { authEndpoint: '/pusher_auth.php' });

        // Some useful debug msgs
        pusher.connection.bind('connecting', function() {
          $('div#status').text('Status: Connecting to Pusher...');
        });
        pusher.connection.bind('connected', function() {
          $('div#status').text('Status: Connected to Pusher!');
        });
        pusher.connection.bind('failed', function() {
          $('div#status').text('Status: Connection to Pusher failed :(');
        });
        channel.bind('subscription_error', function(status) {
          $('div#status').text('Status: Pusher subscription_error');
        });
	channel.bind('new_message', function(data) {
	  $('div#message').text('Message: From: ' + data.from + ', Subject: ' + data.subject);
	});
    channel.bind('binding', function(data) {
	  $('div#message').text('Message: From: ' + data.from + ', Subject: ' + data.subject);
	});
    channel.bind('newPlayer', function(data) {
	  alert(You are in New Game!");
	});
    
    channel.bind('count', function(data) {
            count++;
            if (count > 9)
            {
                $.get('maingame/newgame', function(data){});
            }
            $('div#message').text('Number of players: ' + (count+1));    	  
	});
    
    channel.bind('newGame', function(data) {
        pusher.unsubscribe(channel);
        $.get('maingame/index', function(data){});
      });
      
      channel.bind('success', function(data) {
      alert("New channel made successfully!");
      });
              
      });
    </script>
    
<script>
document.getElementById("send").onclick = send;
function send() {
$.get('maingame/binding', function(data){});
}


</script>
