<!DOCTYPE html>
<html>
<head>
  <title>Risk</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</head>
<body>
<div id="status">Status: </div>
<div id="message">Message: </div>
<%= image_tag "1000px-Risk_game_map_fixed.png" %>
<%= yield %>

</body>
  </html>
